/*
body style
*/
body {
	background-image: url(../img/background.png);
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}
.logo {
	margin-top: 55px;
	display: inline-block;
	text-align: center;
}

